:root {
  /* fonts */
  --font-family: 'Noto Sans Display', sans-serif;
  /* colors */
  --bg-main:       #F5F6F8;
  --black:         #3B434E;
  --white:         #FFFFFF;
  --primary:       #7653FC;
  --primary-hover: #6344DF;
  --red:           #FC836D;
  --green:         #1DC37E;
  --green-lite:    #C8F8E4;
  --grey-lite:     #EBEBEB;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 400;
  color: var(--black);
  background: var(--primary);
}

a {
  color: currentColor;
  text-decoration: none;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

li {
  list-style: none;
}